body {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.nav-bar{
    width: 95%;
    border-radius: 20px;
    height: 50px;
    background-color: purple;
    margin: 10px;
}

.two{
    width: 95%;
    border-radius: 20px;
    min-height: 300px;
    background-color: orange;
    margin: 10px;
}

.buttom{
    width: 95%;
    border-radius: 20px;
    height: 200px;
    background-color: orange;
    margin: 10px;
}